.nemacontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.nemah1 {
  font-size: 24px;
  color: red;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
}

.nemap {
  font-size: 18px;
  color: #333;
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .nemacontainer {
    margin: 30px 10px;
    padding: 15px;
  }

  .nemah1 {
    font-size: 20px;
  }

  .nemap {
    font-size: 16px;
  }

}
