.choices-wrapper {
  margin-bottom: 40px;
}

.question-after {
  font-size: 30px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.choices-wrapper button:focus {
  border: none;
}


.choices-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 15%; 
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto;
}

@media (max-width: 600px) { 
  .choices-wrapper {
      grid-template-columns: 1fr; /* Single column */
      grid-template-rows: auto auto auto auto; /* 4 rows */
      gap: 10px; 
  }
  .choices-wrapper > button {
      font-size: 20px;
  }
  .question-after {
      font-size: 20px;
  }

}

.range-wrapper {
  margin-top: 70px;
    position: relative;
    width: 100%;
  }
  
  /* Range input styling */
  .styled-range {
    width: 100%;
    appearance: none;
    height: 10px;
    background: #d3d3d3;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  /* Styling the slider thumb */
  .styled-range::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    margin-top: -5px; /* Center thumb with track */
  }
  
  .styled-range::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
  }
  
  /* Track styling */
  .styled-range::-webkit-slider-runnable-track {
    position: relative;
    height: 8px;
    border-radius: 4px;
    background: #d3d3d3;
  }
  
  /* Dots inside the range track */
  .range-dots {
    position: absolute;
    top: 35%;
    left: 0.2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    transform: translateY(-50%);
    z-index: 1; /* Behind the slider */
  }
  
  .range-dots span {
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 50%;
  }
  
  
  .range-labels {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    font-size: 1.4vw;
  }
  
  .label-left,
  .label-right {
    position: absolute;
  }
  
  .label-left {
    left: 0;
  }
  
  .label-right {
    right: 0;
  }
  