
.wrapper-before {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.question-before {
    font-size: 30px;
}

.choices-wrapper-before {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 15%; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto;
    margin-bottom: 20px;
}
@media (max-width: 600px) { 
    .choices-wrapper-before {
        grid-template-columns: 1fr; /* Single column */
        grid-template-rows: auto auto auto auto; /* 4 rows */
        gap: 10px; 
    }
    .choices-wrapper-before > button {
        font-size: 20px;
    }
    .question-before {
        font-size: 20px;
    }
    .range-container h2 {
        font-size: 20px;
    }
}

.choices-wrapper-before > button {
    padding: 7%;
    margin: 5%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Kreon;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Only shadow at the bottom */
    font-size: 25px;

}
.choices-wrapper-before > button:active {
    
    opacity: 70%;
}
.choices-wrapper-before button:focus {
    border: 3px solid black;
  }
