/* Global styles for html and body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../../public/photos/background-upper.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 100px; 
    box-sizing: border-box; 
}

.title-form {
    font-size: 4vw;
    font-family: 'Kreon', sans-serif;
    font-weight: 700;
    color: #2C2C2C;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
}

.main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height:100%;
    max-width: 1200px;
}

.next-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.backward {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.prev-text {
    color: #303030;
    font-size: 1.6vw;
    margin-left: 20px;
}

.prev-button {
    background-color: #4D4D4D;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6vw;
}

    .prev-button:hover {
        background-color: #303030;
    }

.forward {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.next-text {
    color: #303030;
    font-size: 1.6vw;
    margin-right: 20px;
}

.next-button {
    background-color: #1A1A1A;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6vw;
}

    .next-button:hover {
        background-color: #303030;
    }

/* Mali ekrani */
@media (max-width: 768px) {
    .title-form {
        font-size: 7vw;
    }

    .prev-text, .next-text {
        font-size: 4vw;
    }

    .prev-button, .next-button {
        width: 50px;
        height: 50px;
    }
}

/* Mobilni ekrani */
@media (max-width: 480px) {
    .form-container {
        padding: 20px;
    }

    .title-form {
        font-size: 8vw;
    }

    .prev-text, .next-text {
        font-size: 5vw;
    }

    .prev-button, .next-button {
        width: 50px;
        height: 50px;
        font-size: 2.5vw;
    }
}
