.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background: white;
    box-sizing: border-box;
    padding-bottom: 25px;
    border-radius: 10px;
}

.gore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 20px;
}


.tekst {
    margin-top: 12px;
    color: gray;
    font-size: 40px;
    font-weight: 700;
}

.underline {
    width: 105px;
    height: 5px;
    background: linear-gradient(to right, orange, lightblue);
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    width: 80%;
    align-self: center;
    height: 65px;
    background: lightgray;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.input img {
    margin: 0 10px;
    width: 40px;
}

.input input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
}


.submit {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.prijava {
    width: 100%;
    max-width: 300px;
    height: 50px;
    color: white;
    background: linear-gradient(to right, orange, lightblue);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
}

.prijava:hover {
    background: linear-gradient(to right, lightblue, orange);
}

.prijava:disabled {
    background: silver;
    cursor: not-allowed;
}


.error {
    color: red;
    font-weight: 500;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}